{% extends "base.html" %}

{% block title %}
Respuestas de {{pregunta.titulo}}
{% endblock %}
{% block content %}
<h2>{{pregunta.titulo}} -- {{pregunta.autor.username}} ({{pregunta.fecha|date:"d \d\e F \d\e Y \a \l\a\s H:i"}})</h2>
<p>{{pregunta.texto}}</p>

<h2>Respuestas</h2>
<ol>
{% for respuesta in respuestas %}
    <li>{{respuesta.texto}}<br/>
        {{respuesta.autor.username}} ({{respuesta.fecha|date:"d \d\e F \d\e Y \a \l\a\s H:i"}})
    </li>
{% endfor %}
</ol>

<h2>Añadir nueva respuesta</h2>
<form action="{% url 'preguntas:respuesta' pregunta.id %}" method="post">
    <table>
    {{ NewAnswerForm }}
    </table>
    {% csrf_token %}
    <button type="submit">Enviar respuesta</button>
</form>
{% endblock %}